<div class="div">
    <div class="div__div">
        <h1 class="div__h1">Bienvenido a <span class="div__span">Shopéame</span></h1>
        <div class="texto">
            <h2 class="div__h2">¿Qué es <span class="div__span">Shopéame?</span></h2>
            <p class="div__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque esse amet nobis quis
                dolorem
                magni,
                distinctio obcaecati aliquid consectetur expedita a sit ad, hic labore atque quia repellendus non
                beatae!
            </p>
            <h2 class="div__h2">¿Para que puedo usar <span class="div__span">Shopéame</span>?</h2>
            <p class="div__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque esse amet nobis quis
                dolorem
                magni,
                distinctio obcaecati aliquid consectetur expedita a sit ad, hic labore atque quia repellendus non
                beatae!
            </p>
            <h2 class="div__h2">¿Quiénes hacemos <span class="div__span">Shopéame</span>?</h2>
            <p class="div__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque esse amet nobis quis
                dolorem
                magni,
                distinctio obcaecati aliquid consectetur expedita a sit ad, hic labore atque quia repellendus non
                beatae!
            </p>
            <h2 class="div__h2">¿Es seguro usar <span class="div__span">Shopéame</span>?</h2>
            <p class="div__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque esse amet nobis quis
                dolorem magni, distinctio obcaecati aliquid consectetur expedita a sit ad, hic labore atque quia
                repellendus
                non beatae!
            </p>
        </div>
    </div>
</div>