<header class="header">
    <div class="header__shope">
        <img class="header__shope-img" src="../../../assets/S.png" alt="Letter S">
        <h1 class="header__shope-h1">Shopéame!</h1>
    </div>
    <nav class="header__nav">
        <a class="header__nav-a" routerLink="/"><div class="header__nav-div"> <img class="header__nav-img" src="../../../assets/A.png" alt="A">Home</div></a>
        <a class="header__nav-a" routerLink="/products"><div class="header__nav-div"><img class="header__nav-img" src="../../../assets/B.png" alt="B">Products</div></a>
        <a class="header__nav-a" routerLink="/gestion"><div class="header__nav-div"><img class="header__nav-img" src="../../../assets/C.png" alt="C">Gestion</div></a>
    </nav>

</header>